html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: auto;
  margin: 70px 0;
  padding: 0;
  font-family: Gotham, sans-serif;
  color: $black;
  line-height: 1.3;
  font-weight: 300;
  background: $backgroundGreen;

  #resumeBody {
    max-height: 100%;
  }

  @media screen and (max-width: $laptop) {
    background: $white;
    margin: 0;
    font-size: calc($text-font-sm/1.2);
  }
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  margin-bottom: 0;
  font-size: $sub-heading-text-sm;

  @media screen and (max-width: 480px) {
    font-size: calc($sub-heading-text-sm/2.2);
  }
}
// a,
// a:visited,
// a:hover {
//   text-decoration: $white underline;
// }

a,
a:visited {
  color: $white;
  text-decoration: underline;
}
a:hover {
  color: $black;
}

ul {
  list-style: none;
}

.container {
  max-width: 74rem;
  margin: 0 2.95rem;

  @media screen and (max-width: $laptop) {
    margin: 0 1.2rem;
  }

  &--pt {
    padding-top: 2.25rem;
  }
  &--pr {
    padding-right: 3.5rem;
  }
  &--pb {
    padding-bottom: 2.25rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
  &-ai-fs {
    align-items: flex-start;
  }

  &-fd-c {
    flex-direction: column;
  }
  &-fd-r {
    flex-direction: row;
  }
}

.marg-btm {
  margin-bottom: 30px;
}
