// Colours
$white: #fff;
$black: #000;
$mainGreen: #229b6e;
$subHeadingGreen: #61c591;
$subTextGrey: #4d4d4d;
$backgroundGreen: #3d625b;
$leftGreen: #249d70;

// Fonts
$text-font-sm: 18px;
$sub-heading-text-sm: 22px;
$sub-heading-text-lg: 24px;
$main-heading-text: 50px;

// Media Queries
$phone: 320px;
$tablet: 768px;
$laptop: 1024px;

// nameColor: #229B6F 50px  {75px}
//     subtitle: #61C591 20px 18px {35px 30px}
//     subdetail:#707070 15px {25px}
//     BackgroundColor: #249D70
